# Logistic Regression Model

## 변수 처리 방법
- Passenger ID : 제거
- Pclass : Ordinal 변수이므로 그대로 채용.
- Sex : Label-Encode
- Age : 그대로 (Mean으로 결측값 Impute)
- Sibsp, Parch : 그대로
- Ticket : 제거
- Fare : 그대로, 단 Ticket변수와 Sibsp+parch 사용하여 그룹멤버들만큼 나눠서 1인당 요금으로 계산
- Cabin : Binary로 변환
- Embarked : one-hot encoding with NaN imputed as 'C'. (NaN승객들과 같은 Pclass 승객들의 Fare mean으로 C인것을 유추)

## 생성변수
- Group : Ticket 변수가 unique하지 않거나 Sibsp+parch > 0 일때 1, 아닐때 0을 가지는 단체승객여부 변수.

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV
from sklearn import preprocessing

In [7]:
# Import Dataset
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [8]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

- 변수 전처리

In [9]:
# Import Dataset
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

#결측치 처리 (Age, Embarked)
df_train['Age'].fillna(df_train['Age'].mean(),inplace=True)
df_test['Age'].fillna(df_train['Age'].mean(),inplace=True)
df_train['Embarked'].fillna('C',inplace=True)

#Cabin 결측치 처리 겸 변수 변환
#df_train['Cabin'] = df_train.Cabin.apply(lambda x: 1 if pd.notnull(x) else 0)
#df_test['Cabin'] = df_test.Cabin.apply(lambda x: 1 if pd.notnull(x) else 0)
df_train['Cabin_alpha'] = df_train[df_train['Cabin'].isnull()==False]['Cabin'].map(lambda x: x[0])
df_train['Cabin_alpha'].fillna("N",inplace=True)

#Group 변수 생성
#Family size랑 dup_count 중 큰걸로 fare 나누기.
df_train['Family_size'] = df_train['SibSp']+df_train['Parch']+1
df_train['dup_count'] = df_train.groupby(['Ticket'])['Ticket'].transform('count')
df_train['Group'] = ~((df_train['Family_size'] == 1) & (df_train['dup_count'] == 1))
df_train['Group_count'] = df_train[['Family_size','dup_count']].max(axis=1)
df_train['Fare_ind'] = df_train['Fare']/df_train['Group_count']

#Fare 결측치 처리 in test
df_test['Fare'].fillna(df_test['Fare'].mean(),inplace=True)

df_test['Family_size'] = df_test['SibSp']+df_test['Parch']+1
df_test['dup_count'] = df_test.groupby(['Ticket'])['Ticket'].transform('count')
df_test['Group'] = ~((df_test['Family_size'] == 1) & (df_test['dup_count'] == 1))
df_test['Group_count'] = df_test[['Family_size','dup_count']].max(axis=1)
df_test['Fare_ind'] = df_test['Fare']/df_test['Group_count']

# Categorical Feature Encoding
le = preprocessing.LabelEncoder()
le2 = preprocessing.LabelEncoder()
le.fit(df_train['Embarked'])
le2.fit(df_train['Cabin_alpha'])
df_train['Embarked']=le.transform(df_train['Embarked'])
df_train['Cabin_alpha']=le2.transform(df_train['Cabin_alpha'])
df_train['Sex'] = df_train['Sex'].apply(lambda x: 1 if x == 'male' else 0)
df_test['Sex'] = df_test['Sex'].apply(lambda x: 1 if x == 'male' else 0)
#df_train = pd.get_dummies(df_train, columns = ['Embarked'],drop_first=True,prefix='', prefix_sep='')
#df_test = pd.get_dummies(df_test, columns = ['Embarked'],drop_first=True,prefix='', prefix_sep='')

### 모델링

In [10]:
#모델에 사용하지 않을 변수 제거
train_X = df_train.drop(['PassengerId','Survived','Name','Cabin','Ticket','Fare','Family_size','dup_count','SibSp','Parch'],axis=1)
test_X = df_test.drop(['PassengerId','Name','Ticket','Fare','Cabin','Family_size','dup_count','Group_count'],axis=1)
train_y = df_train.Survived

In [14]:
lr = LogisticRegression(random_state=0,max_iter = 500)
parameters = {'solver':('liblinear','lbfgs'),'C':[0.001, 0.01, 0.1, 1, 10, 100, 1000]}
clf = RandomizedSearchCV(lr, parameters, cv=5,random_state=0)
clf.fit(train_X, train_y)

RandomizedSearchCV(cv=5, error_score='raise-deprecating',
                   estimator=LogisticRegression(C=1.0, class_weight=None,
                                                dual=False, fit_intercept=True,
                                                intercept_scaling=1,
                                                l1_ratio=None, max_iter=500,
                                                multi_class='warn', n_jobs=None,
                                                penalty='l2', random_state=0,
                                                solver='warn', tol=0.0001,
                                                verbose=0, warm_start=False),
                   iid='warn', n_iter=10, n_jobs=None,
                   param_distributions={'C': [0.001, 0.01, 0.1, 1, 10, 100,
                                              1000],
                                        'solver': ('liblinear', 'lbfgs')},
                   pre_dispatch='2*n_jobs', random_state=0, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [16]:
train_X

,Pclass,Sex,Age,Embarked,Cabin_alpha,Group,Group_count,Fare_ind
0,3,1,22.000000,2,7,True,2,3.625000
1,1,0,38.000000,0,2,True,2,35.641650
2,3,0,26.000000,2,7,False,1,7.925000
3,1,0,35.000000,2,2,True,2,26.550000
4,3,1,35.000000,2,7,False,1,8.050000
5,3,1,29.699118,1,7,False,1,8.458300
6,1,1,54.000000,2,4,False,1,51.862500
7,3,1,2.000000,2,7,True,5,4.215000
8,3,0,27.000000,2,7,True,3,3.711100
9,2,0,14.000000,0,7,True,2,15.035400
10,3,0,4.000000,2,6,True,3,5.566667
11,1,0,58.000000,2,2,False,1,26.550000
12,3,1,20.000000,2,7,False,1,8.050000
13,3,1,39.000000,2,7,True,7,4.467857
14,3,0,14.000000,2,7,False,1,7.854200
15,2,0,55.000000,2,7,False,1,16.000000
16,3,1,2.000000,1,7,True,6,4.854167
17,2,1,29.699118,2,7,False,1,13.000000
18,3,0,31.000000,2,7,True,2,9.000000
19,3,0,29.699118,0,7,False,1,7.225000
20,2,1,35.000000,2,7,True,2,13.000000
21,2,1,34.000000,2,3,False,1,13.000000
22,3,0,15.000000,1,7,False,1,8.029200
23,1,1,28.000000,2,0,False,1,35.500000
24,3,0,8.000000,2,7,True,5,4.215000
25,3,0,38.000000,2,7,True,7,4.483929
26,3,1,29.699118,0,7,False,1,7.225000
27,1,1,19.000000,2,2,True,6,43.833333
28,3,0,29.699118,1,7,False,1,7.879200
29,3,1,29.699118,2,7,False,1,7.895800
...,...,...,...,...,...,...,...,...
861,2,1,21.000000,2,7,True,2,5.750000
862,1,0,48.000000,2,3,False,1,25.929200
863,3,0,29.699118,2,7,True,11,6.322727
864,2,1,24.000000,2,7,False,1,13.000000
865,2,0,42.000000,2,7,False,1,13.000000
866,2,0,27.000000,0,7,True,2,6.929150
867,1,1,31.000000,2,0,False,1,50.495800
868,3,1,29.699118,2,7,False,1,9.500000
869,3,1,4.000000,2,7,True,3,3.711100
870,3,1,26.000000,2,7,False,1,7.895800
871,1,0,47.000000,2,3,True,3,17.518067
872,1,1,33.000000,2,1,False,1,5.000000
873,3,1,47.000000,2,7,False,1,9.000000
874,2,0,28.000000,0,7,True,2,12.000000
875,3,0,15.000000,0,7,False,1,7.225000
876,3,1,20.000000,2,7,True,2,4.922900
877,3,1,19.000000,2,7,False,1,7.895800
878,3,1,29.699118,2,7,False,1,7.895800
879,1,0,56.000000,0,2,True,2,41.579150
880,2,0,25.000000,2,7,True,2,13.000000
881,3,1,33.000000,2,7,False,1,7.895800
882,3,0,22.000000,2,7,False,1,10.516700
883,2,1,28.000000,2,7,False,1,10.500000
884,3,1,25.000000,2,7,False,1,7.050000
885,3,0,39.000000,1,7,True,6,4.854167
886,2,1,27.000000,2,7,False,1,13.000000
887,1,0,19.000000,2,1,False,1,30.000000
888,3,0,29.699118,2,7,True,4,5.862500
889,1,1,26.000000,0,2,False,1,30.000000
890,3,1,32.000000,1,7,False,1,7.750000

In [15]:
print(clf.best_score_)
print(clf.best_params_)

0.797979797979798
{'solver': 'liblinear', 'C': 1}